footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: blueviolet;
    width: 100%;
    height: 150px;
    margin-top: -150px;
    border-top: 5px inset blueviolet;
    position: relative;
    bottom: 0;
}

footer img{
    height: 64px;
    width: 64px;
    filter: invert(99%) sepia(58%) saturate(6%) hue-rotate(210deg) brightness(114%) contrast(92%);
}