.itemCard{
    width: 300px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    border: 5px outset blueviolet;
}

.itemButton{
    background-color: blueviolet;
    border-radius: 5px;
    color: whitesmoke;
    border-color: blueviolet;
}

.itemButton:hover{
    background-color: #561b8e;
    border-color: #561b8e;
}
