/* Mios */
html, body, #root{
  min-height: 100vh;
}
body{
  background-color: whitesmoke;
  font-size: 18px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #444444;
}
#root{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

@media only screen and (max-width: 1024px) {
  body{
    font-size: 16px;
  }
}


/* Scroll wheel */
::-webkit-scrollbar {
  width: 10px;
  padding: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #561b8e; 
  border-left: 1px solid blueviolet;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(138, 43, 226, 0.5); 
  opacity: 0.7;
  border-radius: 10px;
  border: 1px solid blueviolet;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(138, 43, 226, 1); 
}
