/* Mios */
body{
  background-color: whitesmoke;
  font-size: 18;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #444444;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}
